/*
|--------------------------------------------------------------------------
| CUSTOM FONTS
|--------------------------------------------------------------------------
 */

/*------------- | CONDUIT | ------------- */


/*------------- | GOTHAM | ------------- */


/*------------- | TAHOMA | ------------- */

/*
|--------------------------------------------------------------------------
| COLOURS
|--------------------------------------------------------------------------
 */



/*
|--------------------------------------------------------------------------
| CUSTOM CSS STYLES
|--------------------------------------------------------------------------
 */

body {
    padding-bottom: 0;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top-style: dotted;
}

ul {
    margin-bottom: 0.5rem;
}




/*
|--------------------------------------------------------------------------
| NAVIGATION
|--------------------------------------------------------------------------
 */

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin: 0;
    border-color: #ffffff;
    font-family: "GothamBook", Helvetica, sans-serif;
}

.dropdown-item:hover {
    background-color: #b2b2b2;
    background-color: #d8d8d8;
}

.navbar {
    padding: 0;
}

.nav-item {
    font-family: "ConduitBold", Helvetica, sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    background-color: #f0037f;
    color: #183262;
}

/*
|--------------------------------------------------------------------------
| FOOTER
|--------------------------------------------------------------------------
 */



/*
|--------------------------------------------------------------------------
| HOME PAGE
|--------------------------------------------------------------------------
 */


/*
|--------------------------------------------------------------------------
| PRODUCT PAGE
|--------------------------------------------------------------------------
 */



/*
|--------------------------------------------------------------------------
| RANGE PAGE
|--------------------------------------------------------------------------
 */



/*
|--------------------------------------------------------------------------
| ARTICLES PAGE
|--------------------------------------------------------------------------
 */









