/*
|--------------------------------------------------------------------------
| CUSTOM FONTS
|--------------------------------------------------------------------------
 */

/*------------- | LATO BLACK | ------------- */
@font-face {
    font-family: 'LatoBlack';
    src: url('../fonts/Lato-Black.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato-Black.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-Black.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


/*------------- | LATO BOLD | ------------- */
@font-face {
    font-family: 'LatoBold';
    src: url('../fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-Bold.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


/*------------- | LATO ITALIC | ------------- */
@font-face {
    font-family: 'LatoWeb';
    src: url('../fonts/Lato-Italic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato-Italic.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-Italic.woff') format('woff'); /* Modern Browsers */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/*------------- | LATO LIGHT | ------------- */
@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-Light.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/*------------- | LATO REGULAR | ------------- */
@font-face {
    font-family: 'LatoRegular';
    src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-Regular.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


/*------------- | LATO THIN | ------------- */
@font-face {
    font-family: 'LatoThin';
    src: url('../fonts/Lato-Thin.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato-Thin.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-Thin.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


/*
|--------------------------------------------------------------------------
| COLOURS
|--------------------------------------------------------------------------
 */

.btn-dark {
    background-color: #50d8d7;
    border-color: #50d8d7;
}

.btn-dark:hover {
    background-color: #732b90;
    border-color: #732b90;
}

.btn-light {
    background-color: #e49273;
    border-color: #e49273;
    color: #ffffff  ;
}

.btn-light:hover {
    background-color: #d74e09;
    border-color: #d74e09;
    color: #ffffff  ;

}

.random {
    color: #7180ac;
    color: #a8d0db;
    color: #e49273;
    color: #a37a74;
    color: #50d8d7;
    color: #474044;
    color: #ba324f;
    color: #cce6f4;
    color: #e2adf2;
    color: #ffd400;
    color: #119da4;
    color: #605770;
    color: #d74e09;
    color: #50ffb1;
    color: #8b8c89;
}

.message.error {
   background-color: #f2545b;
    color: #a93f55 ;
}

.message.success {
    background-color: #7de2d1 ;
    color: #339989;
}

/*
|--------------------------------------------------------------------------
| CUSTOM CSS STYLES
|--------------------------------------------------------------------------
 */

body {
    margin-top: 50px;
    padding-bottom: 0;
    background-color: #fbfef9;
    font-family: 'LatoRegular', Helvetica, Arial, sans-serif;
    color: #474044;

}

form .row {
    padding-top: 10px;
    padding-bottom: 10px;
}

form .col-1 {
    padding-left: 0;
    padding-right: 0;
}

h1 {
    font-family: 'LatoBold', Helvetica, Arial, sans-serif;
    color: #474044;
    text-transform: uppercase;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top-style: dotted;
}

main {
    margin-top: 3rem;
    padding-top: 2rem;
}

ul {
    margin-bottom: 0.5rem;
}

table th, table td {
    text-align: center;
}

.badge-dark {
    background-color: #23408f;
}


/*
|--------------------------------------------------------------------------
| NAVIGATION
|--------------------------------------------------------------------------
 */

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin: 0;
    border-color: #ffffff;
}

.dropdown-item:hover {
    background-color: #b2b2b2;
    background-color: #d8d8d8;
}

.navbar {
    padding: 0;
    background-color: #23408f;

}

.navbar .navbar-brand {
    font-family: 'LatoBlack', Helvetica, Arial, sans-serif;

    color: #ffffff;
}

.nav-item {
    font-family: 'LatoBlack', Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    background-color: #732b90;
    color: #ffffff;
}

/*
|--------------------------------------------------------------------------
| TABLES
|--------------------------------------------------------------------------
 */
    th {
        font-family: 'LatoBlack', Helvetica, Arial, sans-serif;
        color: #23408f;
    }



/*
|--------------------------------------------------------------------------
| REPORT
|--------------------------------------------------------------------------
 */

.subject-group {
    margin-top: 2rem;
}

table .subject-name {
    max-width: 450px;
}





/*
|--------------------------------------------------------------------------
| PUPIL
|--------------------------------------------------------------------------
 */

.save-status {
    background-color: #50ffb1;
    color: #119da4 ;
}

.save-status.error{
    background-color: #d74e09 ;
    color: #ba324f;
}


/*
|--------------------------------------------------------------------------
| PRODUCT PAGE
|--------------------------------------------------------------------------
 */



/*
|--------------------------------------------------------------------------
| RANGE PAGE
|--------------------------------------------------------------------------
 */



/*
|--------------------------------------------------------------------------
| ARTICLES PAGE
|--------------------------------------------------------------------------
 */









